<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.brainup.readbyapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".library.LibTopicListActivity"
            android:label="@string/title_activity_lib_topic_list"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".com.brainup.readbyapp.auth.registration.RegistrationActivity"
            android:theme="@style/NoBar" />
        <activity
            android:name=".auth.ChooseCourseActivity"
            android:theme="@style/NoBar" />


        <activity
            android:name=".com.brainup.readbyapp.utils.NewPlayerActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/NoBar" />
        <activity
            android:name=".com.brainup.readbyapp.auth.ChooseCompetitiveActivity"
            android:theme="@style/NoBar" />
        <activity
            android:name=".com.brainup.readbyapp.auth.acadmic.ChooseAcademicActivity"
            android:theme="@style/NoBar"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
              <intent-filter>
                  <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
            -->
        </activity>
        <activity
            android:name=".com.brainup.readbyapp.topics.TopicListActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".chapter.ChapterListActivity"
            android:windowSoftInputMode="stateAlwaysHidden">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".com.brainup.readbyapp.auth.otp.VerifyOtpActivity"
            android:theme="@style/NoBar" />
        <activity
            android:name=".com.brainup.readbyapp.auth.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"

            android:configChanges="keyboardHidden|orientation|keyboard" />



        <activity
            android:name=".com.brainup.readbyapp.quiz.ui.QuizActivityNew"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".com.brainup.readbyapp.quiz.ui.InitializQuizActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".com.brainup.readbyapp.profile.SUbscriptionListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



     <activity
            android:name=".com.brainup.readbyapp.quiz.ui.QuizResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity
            android:name=".com.brainup.readbyapp.dashboard.DashBoardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".com.brainup.readbyapp.utils.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="landscape"
            android:theme="@style/NoBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>